<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="tv" class="sen.spring.polymorphism.SamsungTV" init-method="start" destroy-method="stop" scope="prototype"/>
	<bean id="lg" class="sen.spring.polymorphism.LgTV"/>
	<!-- <bean name="lgss" class="sen.spring.polymorphism.LgTV"/> -->
</beans>
